body {
  font-family: "Anek Bangla", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
  line-height: 10px;
}
h2 {
  font-size: 30px;
}
a {
  margin: 50px 0px;
}
.orange-color {
  color: orange;
}
.flex-section {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-top: 50px;
}
.half-width img {
  width: 80%;
}
.button {
  background-image: linear-gradient(orange, red);
  padding: 10px 40px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
}
.top-banner {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}
.second-top-bg {
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.exp-area {
  background-image: url(/images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.p-box {
  box-shadow: 0px 5px 15px #888888;
  margin: 40px;
  padding-bottom: 40px;
}

#left-box {
  border-left: 5px solid;
  border-image: linear-gradient(rgb(109, 54, 226), rgb(255, 55, 252));
  border-image-slice: 1;
}

#right-box {
  border-left: 5px solid;
  border-image: linear-gradient(orange, red);
  border-image-slice: 1;
}

footer p {
  text-align: center;
}
